# Override Values for Apigee Redis |Hybrid 1.10.3 on GKE Cluster deployed with ArgoCD and Helm

gcp:
  region: us-west1
  projectID: hybrid-terraform-471100

k8sCluster:
  name: argocd-test
  region: us-east4 # Must be the closest Google Cloud region to your cluster.
org: hybrid-terraform-471100
orgscopedUDCA: true
instanceID: "argocd"

imagePullSecrets:
  - name: gcr-cred

nodeSelector:
 # This flag determines if the scheduling passes/fails if the labels are missing.
 requiredForScheduling: false
 apigeeRuntime:
   key: "cloud.google.com/gke-nodepool"
   value: "apigee-runtime"
 apigeeData:
   key: "cloud.google.com/gke-nodepool"
   value: "apigee-data"

hub: gcr.io/apigee-release/hybrid

replicaCountMin: '1'
replicaCountMax: '2'
